*.un~
*.swp
.cache/
.config/
.ssh/
.cache/
.config/
.ssh/
*.dll
*.exe
*.md
backup/
dict/
lua/
origdoc/
patch/
plugins/
_viminfo
.local/
.bash_history
vimhome/.bash_history
.dbus-keyrings/
.vim_w3m_hist
.viminfo
runtime/
switches/
vim81/
vimhome/.vim/*
vimhome/.vim_w3m_hist
vimhome/.viminfo
vimhome/.gitconfig
vim74/
w3m.EXE.log
CHANGES.txt
!vimhome/.vim/toml/
vimhome/.vim/toml/*
!vimhome/.vim/toml/*.toml
